/**
 * Import File
 */
 @import "root.css";
 @import "util.css";

 /* Style Root Body */
 body{background-color:var(--white-three);font-family:'Open Sans' !important;}
 body a:hover{text-decoration: none;}
 body .faci-search:hover span.path2::before{color:var(--azure); }
 /* Rotate Icon Arrow */
 .rotate-arrow-up::before{  display: inline-block;  -webkit-transform: rotate(180deg);  -moz-transform: rotate(180deg);  -o-transform: rotate(180deg);  -ms-transform: rotate(180deg);  transform: rotate(180deg); position: relative; bottom: 2px; }
 /* End of Style Root Body */

 /* Custom Checkbox And Radio */
 span.rdo-custom{  width:16px; height:16px;border: solid 2px var(--light-blue-grey);  background-color: #ffffff;  }
 /* End of Custom Checkbox And Radio */

 /* Style Page Bao Tri Sua Chua */
 .content-page-system-management{position: relative;overflow: hidden;}
 table.qb-table tr td.name-device{color:var(--azure);font-weight:600;}
 .boxselect{margin-top:33px;}
 .boxselect .boxselect-left .btn-ticket{width:70px;height:30px;border-radius:3px;background-color:var(--bright-blue);font-size:14px;font-weight:600;color:var(--white-three);margin-right: 21px;}
 .boxselect .boxselect-left .btn-ticket:hover{color:var(--white-three);}

 /* style checkbox job */
 .boxselect .lb-ic-check-cv, .lb-ic-check-rp{font-size:12px;color:#31393c;margin-left: 12px;}
 .boxselect .lb-ic-check-rp{margin-left: 30px;}
 .boxselect .boxselect-right{float: right;margin-top: 6px;}
 .boxselect .dd-list-content{background-color: #ffffff;margin-left: 23px;}
 .page-maintenance-repair .dd-sort{width:100px;border: none;background-color: #ffffff;padding-left: 0;margin-top: 11px;}
 .page-maintenance-repair .dd-sort:focus{outline: none;}
 @media (max-width: 1024px) {  .boxselect-right .qb-dropdown{max-width: 123px;}  }
 @media (max-width: 768px) {  .boxselect-right .qb-dropdown{max-width: 100%;} .boxselect .boxselect-left {text-align: center;} .boxselect .boxselect-left .form-boxselect-left {display: inline-flex;} .boxselect .boxselect-right{text-align: center;width: 100%;margin-top: 20px;}  }

 /* style checkbox repair */
 .box-checkbox-rp{width: 318px;height:46px;border-radius:8px;background-color:#f1f1f7;padding: 8px 8px 0 8px;margin-left: 7px;}
 .custom-cb-repair{position:relative;cursor:pointer;font-size:12px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
 .custom-cb-repair input{position:absolute;opacity:0;}
 .checkmark{position:absolute;top:-9px;left:0;height:18px;width:18px;background-color:var(--white-three);border:1px solid var(--light-blue-grey);}
 .custom-cb-repair:hover input ~ .checkmark{background-color:var(--white-three);border:1px solid var(--light-blue-grey);}
 .custom-cb-repair input:checked ~ .checkmark{background-color:var(--white-three);border:1px solid var(--light-blue-grey);}
 .checkmark:after{content:"";position:absolute;display:none;}
 .custom-cb-repair input:checked ~ .checkmark:after{display:block;}
 .custom-cb-repair .checkmark:after{left:6px;top:3px;width:5px;height:10px;border:solid var(--dark-sage);border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

 /* style section-content*/
 .section-content{width:100%;min-height:177px;padding:21px 21px 16px 16px;border-radius:3px;margin-bottom:18px;background-color:var(--white-three);border:solid 1px var(--light-blue-grey);position: relative;}
 .section-content:hover:before {  position:absolute;  content: '';  top:0; right:0; bottom:0; left:0;  box-shadow: 0 0 8px 0 rgba(176, 204, 255, 0.75);  }
 .section-content.active{box-shadow: inset 6px 0 0 var(--azure);}
 .section-content a.read-more{  font-size: 13px;  font-weight: 600;  color: var(--azure);  }

 /* style section-content-left */
 .section-content-left .cb-header{padding-left: 12px;}
 .section-content-left .title-section-left{font-size:14px;font-weight:600;color:var(--azure);}
 .section-content-left h3{display:inline;font-size:12px;font-weight:bold;color:var(--squash);cursor: pointer;}
 .section-content-left p{font-size:12px;line-height:1.58;text-align:justify;color:var(--slate);}

 /* style section-content-center */
 .section-content-center a{font-size:12px;font-weight:bold;color:var(--azure);}
 .section-content-center p{font-size:13px;line-height:1.46;color:var(--slate);}
 .section-content-center p.text-bold{ font-weight:600; margin-top: 11px; margin-bottom: 11px; }

 /* style section-content-right */
 .section-content-right .text-user{display:inline;font-size:13px;font-weight:600;margin:0 12px 8px 8px;color:var(--slate);}
 .section-content-right .sp-date-1, .sp-date-2{font-size:12px;}
 .section-content-right .sp-date-1{color:var(--slate);margin:0 15px 0 8px;}
 .section-content-right .sp-date-2{color:var(--scarlet);}
 .section-content-right .sp-time-expected{font-size:12px;color:var(--slate);margin:0 8px 0 12px;}
 .section-content-right .sp-file{font-size:12px;margin-left:12px;color:var(--slate);}
 .section-content-right .sp-img{font-size:12px;margin-left:12px;color:var(--slate);}
 .section-content-right .link-report{font-size:13px;font-weight:600;margin-left:12px;color:var(--azure);}
 .section-content-right .btn-report{float:right;width:75px;height:30px;border-radius:3px;background-color:var(--azure);font-size:13px;text-align:center;color:var(--white-three);padding-top: 6px;}
 .section-content-right span.ic-content-right-edit, span.ic-content-right-file, span.ic-content-right-del{float:right;padding:3px;margin: 0;}
 .section-content-right span.hover:hover:before{color:var(--azure);}

 /* style dialog delivery job */
 #dialog_delivery_job .qb-dialog-body{height:590px; }
 #dialog_delivery_job .qb-dialog-body .qb-dialog-header{background-color:var(--dark-sky-blue);}
 #dialog_delivery_job .qb-dialog-body .qb-dialog-content{padding: 0;}
 .dialog-delivery-job-content {padding: 21px 0 0 0;}
 .dialog-delivery-job-content h3{font-size: 13px;font-weight: 600;color: var(--charcoal-grey);}
 .dialog-delivery-job-content h3.describe-job{font-size: 14px;margin-left: 21px;}
 .dialog-delivery-job-content h3.describe-job{margin-bottom: 37px;}
 .dialog-delivery-job-content .title-list-delivery-job{border-bottom:solid 1px var(--light-blue-grey);padding: 0 21px 15px 21px;}
 .dialog-delivery-job-content .box-list-job-left{border-right: solid 1px var(--light-blue-grey); min-height: 412px;}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job{padding: 12px 19px 6px 21px;border-bottom:  solid 1px var(--light-blue-grey);position: relative;}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job p{font-size: 13px;font-weight: 600;color: var(--charcoal-grey);margin-bottom: 11px;}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job span.group, span.name{font-weight: normal;}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job a.btn-delivery{width: 85px;height: 22px;border-radius: 3px;background-color: var(--bright-blue);text-align: center;font-size: 12px;display: block;color:  var(--white-three);font-weight: normal;position: absolute;right: 19px;top: 12px;padding-top: 1px;}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job a.btn-delivery span.faci-foward:before{font-size: 12px;position: relative;padding-right: 3px;top:2px;color: var(--white-three);}
 .dialog-delivery-job-content .box-list-job-left .box-list-delivery-job:hover{background-color: var(--pale-grey);}
 /* End of Style Page Bao Tri Sua Chua */

 /* Style Dialog Sua Chua */
 #dialog_repair .qb-dialog-body{height:607px; }
 .dialog-repair-content input, textarea.decription{border: solid 1px var(--light-blue-grey);}
 .dialog-repair-content label.custom-radio:hover .rdo-custom{border: solid 2px var(--azure);}
 .dialog-repair-content{padding:14px 25px 0 25px;}
 .dialog-repair-content .cb-repair{margin-top:34px;}
 .dialog-repair-content span.lb-control{font-size: 12px;margin-top: 4px;}
 .dialog-repair-content span.ic-calendar{position:absolute;z-index: 1;font-size: 20px;bottom: 29px;  left: 25px;}
 .dialog-repair-content .slt-date-th, .slt-kind, .slt-nv{  height: 39px;  border-radius: 3px;  border: solid 1px var(--light-blue-grey); text-align: left;font-size: 13px;}
 .dialog-repair-content .slt-kind, .slt-nv{width: 233px;background-color: white;}
 .dialog-repair-content .slt-kind::after, .slt-nv::after{float: right;margin: 0 5px 0 0;}
 .dialog-repair-content .slt-date-th::after{float: right;margin: 8px 5px 0 0;}
 .dialog-repair-content .slt-date-th{ width: 100%;  border-radius: 3px;  background-color: var(--pale-grey-two);  border: solid 1px var(--light-blue-grey);padding-left: 38px;}
 .dialog-repair-content .prioritize span{font-size: 12px;}
 .dialog-repair-content .prioritize span.lb-prioritize{font-size: 14px; font-weight: 600;}
 .dialog-repair-content .no-pd-right{padding-right: 0;}
 @media (max-width:575px){.dialog-repair-content .cb-repair{margin-top:0;}  }
 /* End of Style Dialog Sua Chua */

 /* Style Dialog Yeu Cau Vat Tu */
 .dialog-content-ycvt{padding:23px 10px 10px 10px;}
 .dialog-content-ycvt h3{font-size:18px;font-weight:600;color:var(--slate);}
 .dialog-content-ycvt span.sp-tb, span.sp-bp{font-size:14px;font-weight:600;color:var(--azure);}
 .dialog-content-ycvt label.lb-text{font-size:14px;font-weight:600;margin-right:8px;color:var(--slate);}
 .dialog-content-ycvt .slt-require{margin-right: 24px;}
 .dialog-content-ycvt input.input-search{max-width:212px;font-size: 12px;height: 30px;}
 .dialog-content-ycvt a.btn-search{padding: 5px 0 0 26px;}
 .dialog-content-ycvt span.faci-search:before{color: var(--slate);}
 .dialog-content-ycvt a:hover{text-decoration:none;}
 .dialog-content-ycvt table{margin-top:12px;}
 @media (max-width:575px){.dialog-content-ycvt .input-search{max-width:100%;}  .dialog-content-ycvt .form-search{margin-top:12px;}  }
 @media (min-width:1020px){.dialog-content-ycvt .qb-dropdown{width:127px;}}
 /* End of Style Dialog Yeu Cau Vat Tu */

 /* Style Dialog Danh Sach Vat Tu */
 #popup_slider_dialog_dsvt .popup-slider-large-top{background-color:var(--very-light-pink);}
 #popup_slider_dialog_dsvt .popup-slider-large-top h3{color:var(--squash);}
 #popup_slider_dialog_dsvt .popup-slider-large-top span.close-slide:before{color: var(--squash);}
 .dialog-content-dsvt{padding:20px 10px 10px 10px;}
 .dialog-content-dsvt h3{font-size:18px;font-weight:600;color:var(--slate);}
 #popup_slider_dialog_dsvt .dialog-content-dsvt table.qb-table{margin-top:12px;}
 /* End of Style Dialog Danh Sach Vat Tu */

 /* Style Dialog Report */
 #dialog_report .qb-dialog-body{height: 428px;}
 .dialog-report-content{padding: 0 15px 0 15px;}
 .dialog-report-content h3{font-size:12px;font-weight:bold;display:inline;margin-right:5px;color:var(--azure);}
 .dialog-report-content label{font-size:12px;margin-top:17px;color:var(--slate);font-weight: normal;}
 .dialog-report-content label.lb-time-th{margin: 5px 5px 2px 0;}
 .dialog-report-content .slt-calendar{  width: 214px;  height: 35px;  border-radius: 3px;  background-color: var(--pale-grey-two);  border: solid 1px var(--light-blue-grey);  font-size: 13px; font-weight: 600; text-align: left; padding-left: 35px; }
 .dialog-report-content .slt-calendar::after{float: right;margin: 7px 4px 0 0;}
 .dialog-report-content span.ic-calendar{position:relative;left:25px;z-index: 1;font-size: 16px;}
 .dialog-report-content .seekbar{padding-left: 6px;}
 .dialog-report-content div.seekbar-complete{width:335px;height: 18px;margin-top: 14px;}
 @media (max-width:576px){.dialog-report-content span.ic-calendar{position:absolute;left:22px;top:45px;} }
 @media (max-width:768px){ .dialog-report-content .slt-calendar{width: 193px;} }
 /* End of Style Dialog Report */

 /* Style Dialog History Report */
 #dialog_history_report .qb-dialog-body{height: 594px;}
 .dialog-history-report-content{padding:20px 10px 10px 10px;}
 .dialog-history-report-content p{font-size:20px;font-weight:600;margin-bottom:30px;color:var(--slate);}
 .dialog-history-report-content .row-content{width:100%;height:auto;margin-right:0;border-radius:3px;padding:21px;margin-bottom:10px;background-color:var(--white-three);border:solid 1px var(--light-blue-grey);}
 .dialog-history-report-content .ic-row-content{padding:2px 20px 0 5px;float:left;font-size: 38px;}
 .dialog-history-report-content .ic-row-content:before{color: var(--bluegrey);}
 .dialog-history-report-content .row-content, .row-sp-name, .row-sp-date{font-weight: 600;color: var(--slate);font-size: 13px;}
 .dialog-history-report-content .row-content .lb-vn-th, .lb-nt{font-size:12px;color: var(--bluegrey);margin-bottom: 5px;}
 .dialog-history-report-content .row-content span.ic-row-content-file, span.ic-row-content-img{font-size: 16px;}
 .dialog-history-report-content .row-content span.count-file, span.count-img{padding-left: 5px;font-weight: normal;font-size: 16px;}
 .dialog-history-report-content .row-content a:hover{text-decoration:none;}
 .dialog-history-report-content .row-content a.btn-complete{width:68px;height:18px;border-radius:3px;background-color:#66cedb;font-size:10px;text-align:center;color:#000000;margin-left:20px;padding:2px 6px 2px 6px;}
 .dialog-history-report-content .row-content a.ic-row-content-del{margin-left:10px;}
 .dialog-history-report-content .row-content span.ic-delete-row, span.ic-edit-row{font-size: 16px;}
 .dialog-history-report-content .row-content span.ic-delete-row:hover:before, span.ic-edit-row:hover:before{color:var(--azure);}
 .dialog-history-report-content .row-content:hover{box-shadow: 0 0 8px 0 rgba(176, 204, 255, 0.75);}
 /* End of Style Dialog History Report */

 /* Style Dialog Yeu Cau Vat Tu - Danh Sach Vat Tu */
 #popup_slider_ycvt_dsvt .popup-slider-large .popup-slider-large-content{height: calc(100vh - 60px);}
 .dialog-content-ycvt-dsvt{padding:23px 10px 10px 10px;}
 .dialog-content-ycvt-dsvt span:before{color: var(--white-three);}
 .dialog-content-ycvt-dsvt table{margin-top:12px;}
 .dialog-content-ycvt-dsvt table tr.active{background-color:var(--pale-grey);}
 .dialog-content-ycvt-dsvt span.faci-delete{font-size: 18px;}
 .dialog-report-footer{position:relative;top: 10px;}
 /* End of Style Dialog Yeu Cau Vat Tu - Danh Sach Vat Tu */

 /* Style Page Quan Tri He Thong */
 .content-page-system-management .content{  width: 100%; transition: width 0.3s; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; -o-transition: width 0.3s;  }
 @media(min-width:1200px){.content-page-system-management .content.active{ width:calc(100% - 672px); }}
 .content-page-system-management .content .content-top{margin-top: 32px; margin-bottom: 10px;}
 .content-page-system-management .content .btn-data-root{ width: 125px; height:30px; border-radius: 3px;  background-color: var(--pale-grey);font-size: 13px; cursor: pointer;padding-top: 6px;}
 .content-page-system-management .content .btn-data-root:hover{background-color: var(--bright-blue); color: var(--white-three);}
 .content-page-system-management .content .btn-data-root:focus{ box-shadow: none; }
 .content-page-system-management .content .btn-data-root:after{float: right; margin-top: 6px;}
 .content-page-system-management .content .btn-data-root.active{ background-color: var(--bright-blue); color: var(--white-three); }
 .content-page-system-management .content .btn-permission{  height: 30px;  border-radius: 3px;  font-size: 13px; background-color: var(--pale-grey); color: var(--slate); margin-right: 8px;padding-top: 6px;}
 .content-page-system-management .content .btn-permission:hover{  background-color: var(--bright-blue);color: var(--white-three); }
 .content-page-system-management .content .btn-permission.active{background-color: var(--bright-blue);color: var(--white-three);}
 .content-page-system-management .content a.name-parent-menu:hover, a.name-child-menu:hover{color: var(--slate);}
 .content-page-system-management .content a.name-parent-menu, a.name-child-menu{font-size: 12px;color: var(--slate);}
 .content-page-system-management .content a.name-parent-menu{padding: 5px;}
 .content-page-system-management .content a.name-child-menu{text-transform: uppercase;font-weight: bold;padding: 5px;}
 .content-page-system-management .content .content-tab-menu ul.nav-tabs{border-bottom: none;margin-bottom: 15px;}
 .content-page-system-management .content .content-tab-menu ul.nav-tabs li{padding:15px;cursor: pointer;}
 .content-page-system-management .content .content-tab-menu ul.nav-tabs li a{font-size:13px;font-weight:600;text-align:center;color:#9b9b9b;padding:5px 5px 10px 5px;display:block;}
 .content-page-system-management .content .content-tab-menu ul.nav-tabs li a:hover{text-decoration:none;}
 .content-page-system-management .content .content-tab-menu ul.nav-tabs li a.tab-active{color:#000000;border-bottom:2px solid #000;}

 /* style popup menu data root */
 .popup-menu-data-root ul{  list-style: none;  margin: 0;  }
 .popup-menu-data-root ul.parent{  padding: 6px 0 6px 0;  width: 270px;  position: absolute;  background-color: var(--dusk-three);  z-index: 1;  top: 37px;  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px; box-shadow:0 0 15px 0 var(--battleship-grey-two);  }
 .popup-menu-data-root ul.parent:after, .popup-menu-data-root ul.parent:before {  bottom: 100%;  left: 20px;  border: solid transparent;  content: " ";  position: absolute;  }
 .popup-menu-data-root ul.parent:after {  border-bottom-color: var(--dusk-three);  border-width: 7px;  margin-left: -10px; }
 .popup-menu-data-root ul.parent li{  padding: 8px;  position: relative;  }
 .popup-menu-data-root ul.parent li:hover{  background-color: var(--dusk-two);  }
 .popup-menu-data-root ul.parent li:hover ul.sub-menu-data-root{  display: block;  }
 .popup-menu-data-root ul.parent li:hover:last-child ul.sub-menu-data-root:after{  display: block;  top:60%; }
 .popup-menu-data-root ul.parent li:hover:last-child ul.sub-menu-data-root{  top:-108px;  bottom: -48px;  }
 .popup-menu-data-root ul.parent li span.ic-menu:before, span.ic-sub-menu:before{  color: var(--white-three);  }
 .popup-menu-data-root ul.parent li span.ic-menu{  font-size: 16px;  position: relative;  top: 3px;  margin-right: 10px;  }
 .popup-menu-data-root ul.parent li span.ic-sub-menu{  float: right;  position: relative;  font-size: 5px;  top: 10px;  right: 8px;  }
 .popup-menu-data-root ul.sub-menu-data-root:after, .popup-menu-data-root ul.sub-menu-data-root:before {  right: 100%;  top: 50%;  border: solid transparent;  content: " ";  position: absolute; }
 .popup-menu-data-root ul.sub-menu-data-root:after {  border-right-color: var(--white-three);  border-width: 12px;  position: absolute;  top:12px;  }
 .popup-menu-data-root ul.parent li a{  font-size: 13px;  font-weight: 600;  text-transform: uppercase;  color: var(--white-three);  padding: 6px 6px 6px 12px;  display: block;  }
 .popup-menu-data-root ul.sub-menu-data-root{ display: none;  width: 215px;  height: auto;  position: absolute;  left: 267px;  z-index: 2;  top:0;  padding: 0;  background-color: var(--white-three);  border-radius: 3px;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  box-shadow:0 0 10px 0 var(--battleship-grey-two);  }
 .popup-menu-data-root ul.sub-menu-data-root li{  padding: 8px;  border-bottom: solid 1px var(--light-blue-grey);  }
 .popup-menu-data-root ul.sub-menu-data-root li:last-child{  border-bottom: none;  }
 .popup-menu-data-root ul.sub-menu-data-root li:hover{  background-color: var(--pale-grey-six);  }
 .popup-menu-data-root ul.sub-menu-data-root a:hover{  color: var(--dusk);  }
 .popup-menu-data-root ul.sub-menu-data-root li a{  padding: 8px;  color: var(--bluey-grey);  }
 /* end popup menu data root */

 /* style page data root */
 .content-data-root .data-root-breadcrumb{font-size: 14px;}
 .content-data-root .data-root-breadcrumb .breadcrumb{background-color: var(--white-three);padding: 0;margin-bottom: 0;}
 .content-data-root .data-root-breadcrumb .breadcrumb .breadcrumb-item{float: none;}
 .content-data-root .data-root-breadcrumb a.link-root{font-weight: bold;color: var(--azure);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 220px;display: inline-block;}
 .content-data-root .data-root-breadcrumb a.link-child{font-size: 12px;color: var(--slate);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 220px;display: inline-block;}
 .content-data-root .data-root-breadcrumb a.link-child:hover{color: var(--azure);}
 .content-data-root .data-root-breadcrumb a.link-root span.ic-link-root:before{color: var(--azure);font-size: 20px;}
 .content-data-root .data-root-breadcrumb a.link-root span.ic-link-root{margin-right:8px;}

 .content-data-root .data-root-body .top-body{margin-bottom: 10px;}
 .content-data-root .data-root-body a.btn-device-location{width: 106px;height:22px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 12px;color: var(--slate);display: block;text-align: center;padding-top: 1px;float: left;margin-top: 4px;}
 .content-data-root .data-root-body a.btn-device-location span.ic-add{position: relative;  right: 5px;  top: 1px;}
 .content-data-root .data-root-body a.btn-device-location:hover{background-color: var(--seafoam-blue);border: solid 1px var(--seafoam-blue);}
 .content-data-root .data-root-body .qb-dropdown{margin-right: 15px;}

 .content-data-root .data-root-body .left-content{height: calc(100vh - 188px);border: solid 1px var(--light-blue-grey);}
 .content-data-root .data-root-body .left-content .treeview{font-size:12px;}
 .content-data-root .data-root-body .left-content .treeview span.faci-arrow-down::before{font-size:8px;color:var(--battleship-grey);}
 .content-data-root .data-root-body .left-content .treeview span.faci-arrow-right::before{color:var(--battleship-grey);margin-right:5px;padding-left:2px;}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item{padding-left:15px;}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item.active{background-color:var(--azure);color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item:nth-child(odd){background-color:var(--pale-grey-six);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item:nth-child(even){background-color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item:hover{background-color:var(--azure);color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item >a span{padding-left:11px;}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item >a{white-space:nowrap;text-overflow:ellipsis;max-width:200px;}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item:hover span.faci-arrow-right:before{color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item:hover span.faci-arrow-down:before{color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item.node-selected span.faci-arrow-down:before{color:var(--white-three);}
 .content-data-root .data-root-body .left-content .treeview li.list-group-item.node-selected span.faci-arrow-right:before{color:var(--white-three);}

 .content-data-root .data-root-body .right-content {font-size: 13px;width:auto; }
 .content-data-root .data-root-body .right-content .ic-span{font-size: 16px;padding-right: 5px;vertical-align: text-top;}
 .content-data-root .data-root-body .right-content .ic-span:hover::before{color:var(--azure);}
 .content-data-root .data-root-body .right-content table.qb-table tr.header-table{height: 50px;}
 .content-data-root .data-root-body .right-content table.qb-table tr td.name-device{color:var(--azure);font-weight:600;}
 .content-data-root .data-root-body .right-content table.qb-table tr td div.switch_box{position: relative;top:2px;}

/* Style Tooltip */
 .tooltip{left: -2px !important;top: 0 !important;}
 .tooltip-inner{max-width:93px;padding:6px 16px !important;color:#fff;text-align:center;background-color:#4f576c !important;border-radius:.25rem;font-size: 12px;}
 .tooltip .arrow::before{border-top-color:#4f576c !important;margin-left: -1px !important;}

 /* style page danh muc quan li */
 .content-data-root .data-root-body .top-body a.btn-category-manage{width: 140px;height:22px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 12px;color: var(--slate);display: block;padding: 1px;text-align: center;margin-right: 15px;}
 .content-data-root .data-root-body .top-body a.btn-category-manage span.ic-add{margin-right: 5px;position: relative;top:1px;}
 .content-data-root .data-root-body .top-body a.btn-category-manage span.ic-add::before{color: var(--black);}
 .content-data-root .data-root-body .top-body a.btn-category-manage:hover{background-color: var(--seafoam-blue);border: solid 1px var(--seafoam-blue);}
 .content-data-root .data-root-body .right-content ul.list-category-manage{list-style: none;padding: 0;margin: 0;font-size: 13px;}
 .content-data-root .data-root-body .right-content ul.list-category-manage li{padding: 16px 16px 16px 25px;;border-bottom: solid 1px var(--light-blue-grey);}
 .content-data-root .data-root-body .right-content ul.list-category-manage li:first-child{border-top: solid 1px var(--light-blue-grey);}
 .content-data-root .data-root-body .right-content ul.list-category-manage li div.item-right a.btn-add{width: 59px;height:22px;border-radius: 3px;background-color:var(--seafoam-blue);font-size:12px;color: var(--black);display: block;padding: 3px;text-align: center;float: left;margin-right: 36px;}
 .content-data-root .data-root-body .right-content ul.list-category-manage li div.item-right a.btn-add span.ic-add{padding-right: 5px;}
 .content-data-root .data-root-body .right-content ul.list-category-manage li div.item-right a.btn-add span.ic-add::before{color: var(--black);}
 .content-data-root .data-root-body .right-content ul.list-category-manage li div.item-right span.ic-edit, span.ic-move, span.ic-delete{font-size: 16px;padding-right: 2px;position: relative;top: 2px;}
 .content-data-root .data-root-body .right-content ul.list-category-manage li div.item-right span.ic-edit:hover:before, span.ic-move:hover:before, span.ic-delete:hover:before{color: var(--azure);}
 /* end of style page danh muc quan li */

 /* style page nhan vien */
 .content-data-root .data-root-body .top-body a.btn-personnel{width: 99px;height:22px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 12px;color: var(--slate);display: block;padding: 1px;text-align: center;margin-right: 10px;margin-top: 4px;}
 .content-data-root .data-root-body .top-body a.btn-personnel:hover{background-color: var(--seafoam-blue);border: solid 1px var(--seafoam-blue);}
 .content-data-root .data-root-body .top-body a.btn-personnel >span.ic-add{margin-right: 5px;position: relative;top:1px;}
 .content-data-root .data-root-body .top-body a.btn-personnel >span.ic-add::before{color: var(--black);}
 .content-data-root .data-root-body .top-body input.search-personnel{max-width: 212px;max-height: 30px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);float: left;font-size: 12px;}
 .content-data-root .data-root-body .top-body input.search-personnel:focus{background-color: var(--white-three);}
 .content-data-root .data-root-body .top-body a.ic-search-personnel{padding: 5px;margin-right: 15px;margin-left: 20px;}
 .content-data-root .data-root-body .content-body table.qb-table tr.header-table{height: 50px;}
 .content-data-root .data-root-body .content-body a.ic-edit-table, a.ic-delete-table{font-size: 16px;padding: 2px;}
 .content-data-root .data-root-body .content-body a.ic-edit-table:hover::before, a.ic-delete-table:hover::before{color: var(--azure);}
 /* end of style page nhan vien */

 /* style page nhom nhan vien */
 .content-data-root .data-root-body .top-body a.btn-group-personnel{width: 128px;height:22px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 12px;color: var(--slate);display: block;padding: 1px;text-align: center;margin-right: 15px;margin-top: 4px;}
 .content-data-root .data-root-body .top-body a.btn-group-personnel:hover{background-color: var(--seafoam-blue);border: solid 1px var(--seafoam-blue);}
 .content-data-root .data-root-body .top-body a.btn-group-personnel >span.ic-add{margin-right: 5px;position: relative;top:1px;}
 .content-data-root .data-root-body .top-body a.btn-group-personnel >span.ic-add::before{color: var(--black);}
 .content-data-root .data-root-body .content-body ul.list-group-personnel{list-style: none;font-size: 13px;padding: 0;margin-top:5px;width:100%;transition: width 0.3s;  -moz-transition: width 0.3s;  -webkit-transition: width 0.3s;  -o-transition: width 0.3s;}
 @media (min-width: 1200px){.content-data-root .data-root-body .content-body ul.list-group-personnel.active{width: calc(100vw - 710px);}}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-user-group, a.ic-user, a.ic-edit, a.ic-delete{font-size: 16px;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-eye2::before{font-size: 11px;color:var(--purpley-grey);}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-eye2.active::before{color:var(--azure);}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-user:before{color:var(--battleship-grey); }
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-user.active:before{color: var(--azure);font-weight: 600;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-user-group, a.ic-user, a.ic-edit, a.ic-delete{margin-left: 10px;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-user:hover::before{ color:var(--azure); }
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-eye:hover:before, a.ic-user-group:hover:before, a.ic-edit:hover:before, a.ic-delete:hover:before{color: var(--azure);}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li a.ic-eye.active::before, a.ic-user-group.active::before{color: var(--azure);font-weight: 600;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li{padding: 20px 15px 20px 15px;background-color: var(--white-three);border: solid 1px var(--light-blue-grey);border-radius: 3px; margin-bottom: 7px;vertical-align: middle;cursor: pointer;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li .list-ic-right{float:right;display: inline-block;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li span.title-item{margin-left: 10px;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li span.title-item.active{color: var(--azure);font-weight: 600;}
 .content-data-root .data-root-body .content-body ul.list-group-personnel li:hover{ background-color: var(--pale-grey-six); }
 /* end of style page nhom nhan vien */

 /* style popup slider nhom nhan vien */
 #popup_slider_user_group .popup-slider-small{max-width: 672px;}
 #popup_slider_user_group .popup-slider-small .popup-slider-small-body{height: calc(100vh - 130px);}
 #popup_slider_user_group .popup-slider-small-search input.input-search{max-width: 212px;height: 30px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 13px;margin-right: 20px;}
 #popup_slider_user_group .popup-slider-small-search input.input-search:focus{background-color: var(--white-three);}
 #popup_slider_user_group .popup-slider-small-search a.ic-search{padding: 8px;margin-right: 10px;padding-right: 40px;}
 .popup-slider-user-group .list-user-group ul{list-style: none;padding: 0;font-size: 13px; margin-top: 19px;}
 .popup-slider-user-group .list-user-group ul li:first-child{border-top: solid 1px var(--light-blue-grey);}
 .popup-slider-user-group .list-user-group ul li{padding: 16px; border-bottom: solid 1px var(--light-blue-grey); }
 .popup-slider-user-group .list-user-group ul li:hover{ background-color: var(--pale-grey-six); }
 /* end of style popup slider nhom nhan vien */

 /* style popup slider nhan vien quan ly */
 #popup_slider_user_manager .popup-slider-small .popup-slider-small-body{height: calc(100vh - 185px);margin-top: 10px;}
 #popup_slider_user_manager .popup-slider-small span.ic-user-manage{font-size: 30px;position: relative;float: left;margin-right: 25px;bottom: 6px;}
 #popup_slider_user_manager .popup-slider-small span.ic-user-manage::before{color: var(--azure);}
 #popup_slider_user_manager .popup-slider-small .popup-slider-small-search input.input-search{max-width: 212px;height: 30px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 13px;margin-right: 20px;}
 #popup_slider_user_manager .popup-slider-small .popup-slider-small-search input.input-search:focus{background-color: var(--white-three);}
 #popup_slider_user_manager .popup-slider-small .popup-slider-small-search a.ic-search{padding: 8px;margin-right: 40px;}
 .popup-slider-user-manager .list-user-manager ul{list-style: none;padding: 0;font-size: 13px; margin-top: 19px;}
 .popup-slider-user-manager .list-user-manager ul li:first-child{border-top: solid 1px var(--light-blue-grey);}
 .popup-slider-user-manager .list-user-manager ul li{padding: 16px; border-bottom: solid 1px var(--light-blue-grey); }
 .popup-slider-user-manager .list-user-manager ul li:hover{ background-color: var(--pale-grey-six); }
 .popup-slider-user-manager .list-user-manager ul li .switch_box{float: right;}
 /* end of style popup slider nhan vien quan ly */

 /* style popup slider nhan vien quan ly nhom to */
 #popup_slider_user_manager_group .popup-slider-small-body{height: calc(100vh - 185px);margin-top: 10px;}
 #popup_slider_user_manager_group span.ic-user-manage-group{font-size: 30px;position: relative;top: 4px;margin-right: 20px;}
 #popup_slider_user_manager_group span.ic-user-manage-group::before{color: var(--azure);}
 #popup_slider_user_manager_group .popup-slider-small .popup-slider-small-search input.input-search{max-width: 212px;height: 30px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 13px;margin-right: 20px;}
 #popup_slider_user_manager_group .popup-slider-small .popup-slider-small-search input.input-search:focus{background-color: var(--white-three);}
 #popup_slider_user_manager_group .popup-slider-small .popup-slider-small-search a.ic-search{padding: 8px;margin-right: 40px;}
 .popup-slider-user-manager-group .list-user-manager-group ul{list-style: none;padding: 0;font-size: 13px; margin-top: 19px;}
 .popup-slider-user-manager-group .list-user-manager-group ul li:first-child{border-top: solid 1px var(--light-blue-grey);}
 .popup-slider-user-manager-group .list-user-manager-group ul li{padding: 16px; border-bottom: solid 1px var(--light-blue-grey); }
 .popup-slider-user-manager-group .list-user-manager-group ul li:hover{ background-color: var(--pale-grey-six); }
 .popup-slider-user-manager-group .list-user-manager-group ul li .switch_box{float: right;}
 /* end of style popup slider nhan vien quan ly nhom to */

 /* style dialog them edit nhom nhan vien */
 #edit_user_mangager_group .qb-dialog-body{max-width: 553px;height:410px;}
 #edit_user_mangager_group .qb-dialog-header{background-color: var(--dark-sky-blue);}
 #edit_user_mangager_group .qb-dialog-body .qb-dialog-header h3.title-dialog{margin-left: 0;}
 .form-add-user-mangager-group label{font-size: 13px;color: var(--slate);font-weight: normal;}
 .form-add-user-mangager-group input.form-control{max-width: 275px;height:35px;background-color: var(--white-three);border: solid 1px var(--light-blue-grey);font-size: 13px;}
 .form-add-user-mangager-group .qb-dropdown{width: 275px;height: 35px;margin-left: 0;}
 .form-add-user-mangager-group .switch_box{float: left;padding-top: 7px;}
 .form-add-user-mangager-group span.ic-hide{font-size: 16px;position: relative;top: 6px;left: 13px;}
 .form-add-user-mangager-group .qb-checkbox-label{padding-top: 6px;}
 .form-add-user-mangager-group .qb-checkbox-label:before{background-color: var(--pale-grey-two);}
 /* end of style dialog them edit nhom nhan vien */

 /* style page du lieu goc detail */
 .content-page-system-management .content-top span.title{width: 230px;font-size: 14px;color: var(--purpley-grey);text-transform: uppercase;margin-left: 30px;padding: 7px 7px 7px 25px;display: inline-block;}
 .content-page-system-management .content-top span.text-title{font-size: 17px;color: var(--charcoal-grey-two);}
 .content-page-system-management .content-top a.ic-excel-file{float: right;font-size: 27px;}
 .content-page-system-management .content-body table.table-detail tr.header-table{height: 0;}
 .content-page-system-management .content-body table.qb-table tr.header-table th::after{height: 80%;top:10%;}
 .content-page-system-management .content-body table.qb-table tr.header-table-sub th:after{  height: 73%;  right: -2px;  top: 15%;}
 /* end of style page du lieu goc detail */

 /* style dialog them nhan vien */
 #dialog_add_personnel .qb-dialog-body{max-width: 553px;height: 571px;font-weight: normal;}
 #dialog_add_personnel .qb-dialog-body .qb-dialog-header{background-color: var(--dark-sky-blue);}
 .dialog-add-personnel form.form-add-personnel .form-group{margin-bottom: 10px;}
 .dialog-add-personnel form.form-add-personnel{font-size: 13px;padding: 10px 0 15px 0;}
 .dialog-add-personnel form.form-add-personnel input{max-width: 275px;height:35px;border-radius: 3px;background-color: var(--white-three);border: solid 1px var(--light-blue-grey);font-size: 13px;}
 .dialog-add-personnel form.form-add-personnel .qb-dropdown{margin-left: 0;height: 35px;width: 275px;background-color: #ffffff;}
 .dialog-add-personnel form.form-add-personnel .qb-dropdown::after{color: var(--black);}
 .dialog-add-personnel form.form-add-personnel .group-permission, .group-personnel{color:#a6adb5; }
 .dialog-add-personnel form.form-add-personnel .custom-control-indicator{background-color: var(--white-three);}
 .dialog-add-personnel form.form-add-personnel .custom-control-input:checked~.custom-control-indicator{background-color: var(--azure);color:var(--white-three);border: solid 2px var(--azure);}
 .dialog-add-personnel form.form-add-personnel span.rdo-male, span.rdo-female{border: solid 2px var(--light-blue-grey);}
 .dialog-add-personnel form.form-add-personnel label.custom-radio:hover span.rdo-male{border: solid 2px var(--azure);}
 .dialog-add-personnel form.form-add-personnel label.custom-radio:hover span.rdo-female{border: solid 2px var(--azure);}
 .dialog-add-personnel form.form-add-personnel label.custom-radio{padding-top: 2px;margin: 3px 0 0 10px;}
 /* end of style dialog them nhan vien */

 /* style page may loai thiet bi */
 .machine-kind-device a.btn-machine-device{width: 115px;height:22px;border-radius: 3px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 12px;color: var(--slate);padding: 1px;text-align: center;margin-top: 4px;}
 .machine-kind-device a.btn-machine-device:hover{background-color: var(--seafoam-blue);border: solid 1px var(--seafoam-blue);}
 .machine-kind-device span.ic-add{margin-right: 5px;position: relative;top: 1px;}
 .machine-kind-device ul{list-style: none;padding:0;margin:0;font-size: 13px;}
 .machine-kind-device ul li{padding:18px;border-bottom: solid 1px var(--light-blue-grey);}
 .machine-kind-device ul li .item-tool-right{float: right;margin-top: 1px;}
 .machine-kind-device ul li .item-tool-right a::before{font-size: 16px;margin-left: 8px;color: var(--battleship-grey-three);}
 .machine-kind-device ul li .item-tool-right a:hover:before{color:var(--azure);}
 /* end of style page may loai thiet bi */
 #add_machine_device .qb-dialog-body{max-width: 553px;height:410px;}
 #add_machine_device .qb-dialog-header{background-color: var(--dark-sky-blue);}
 #add_machine_device .qb-dialog-body .qb-dialog-header h3.title-dialog{margin-left: 0;}
 .form-add-machine-device label{font-size: 13px;color: var(--slate);font-weight: normal;}
 .form-add-machine-device input.form-control{max-width: 275px;height:35px;background-color: var(--white-three);border: solid 1px var(--light-blue-grey);font-size: 13px;}
 /* stlyle dialog upload file */
 #dialog_document_attach .moda-job .tabbable .tab-content{margin: 0 0 25px 25px;font-size: 13px;}
 #dialog_document_attach .qb-dialog-body{height:590px;font-weight: normal;}
 #dialog_document_attach .qb-dialog-header{background-color: var(--dark-sky-blue);}
 #dialog_document_attach .qb-dialog-body .qb-dialog-content{padding: 0;overflow: hidden;}
 #dialog_document_attach .moda-job{box-shadow: none;width: 100%;height:100%;}
 .dialog-document-attach{font-size: 13px;}
 .dialog-document-attach .icon{font-size: 16px;}
 .dialog-document-attach .custom-file-upload input[type='file']{display:none;}
 .dialog-document-attach .custom-file-upload{border:1px solid #ccc;display:inline-block;padding:0 12px;background-color:var(--pale-grey-two);cursor:pointer;border-radius:3px;margin-left:15px;font-size: 12px;}
 .dialog-document-attach .custom-file-upload:hover{background-color:var(--seafoam-blue);border:1px solid var(--seafoam-blue);}
 .dialog-document-attach .document-attach-content .left{padding:21px 10px 10px 10px;}
 .dialog-document-attach .document-attach-content .left a.ic-delete:hover:before{color:var(--azure);}
 .dialog-document-attach .document-attach-content .left .bottom{position:relative;top:250px;float:right;}
 .dialog-document-attach .custom-file-upload span.ic-add{position:relative;top:1px;margin-right:2px;}
 .dialog-document-attach .progress-upload span.file-capacity{color:var(--purpley-grey);margin-right:10px;}
 .dialog-document-attach .progress-upload{margin-top:25px;}
 .dialog-document-attach .progress-upload .progress{margin:15px 0;}
 .dialog-document-attach .progress-upload .progress .progress-bar{height:4px;background-color:var(--turquoise);}
 .dialog-document-attach .document-attach-content .bottom a{width:79px;height:22px;display:inline-block;text-align:center;border-radius:3px;font-size:12px;line-height:20px;border:solid 1px var(--light-blue-grey);}
 .dialog-document-attach .document-attach-content .bottom a.btn-close{background-color:var(--pale-grey-two);color:var(--slate);margin-right:5px;}
 .dialog-document-attach .document-attach-content .bottom a.btn-upload{background-color:var(--bright-blue);color:var(--white-three);}
 .dialog-document-attach .document-attach-content .bottom a.btn-upload span.icon::before{color:var(--white-three);display: inline-block;  -webkit-transform: rotate(-90deg);  -moz-transform: rotate(-90deg);  -o-transform: rotate(-90deg);  -ms-transform: rotate(-90deg);  transform: rotate(-90deg); }
 .dialog-document-attach .document-attach-content .bottom a span.icon{font-size:13px;position:relative;top:1px;margin-right:7px;}
 .dialog-document-attach .document-attach-content .right{border-left:solid 1px var(--light-blue-grey);height:calc(100vh - 165px);}
 .dialog-document-attach .document-attach-content ul{list-style:none;padding:5px 0 0 0;}
 .dialog-document-attach .document-attach-content ul li{padding:18px;}
 .dialog-document-attach .document-attach-content ul li:first-child{border-bottom:solid 1px var(--light-blue-grey);}
 .dialog-document-attach .document-attach-content ul li:first-child span{font-weight:600;}
 .dialog-document-attach .document-attach-content ul li:first-child .qb-checkbox-label{float:right;}
 .dialog-document-attach .document-attach-content .right .item-right{float:right;}
 .dialog-document-attach .document-attach-content .right .item-right .icon{position:relative;top:2px;right:5px;margin-right:5px;}
 .dialog-document-attach .document-attach-content .right a.ic-download:hover::before{color: var(--azure);}
 .dialog-document-attach .document-attach-content .right a.ic-download::before{color: var(--battleship-grey);}
 .dialog-document-attach .document-attach-content .right span.ic-download-file{position:relative;top:1px;margin-right:5px;}
 .dialog-document-attach .document-attach-content .right span.ic-download-file::before{color:var(--white-three);}
 .dialog-document-attach .document-attach-content .right .item-right a.ic-delele-file:hover:before{color: var(--azure);}
 .dialog-document-attach .document-attach-content .right a.btn-download{width:161px;height:22px;color:var(--white-three);display:block;font-size:12px;border-radius:3px;text-align:center;line-height:21px;margin-right:18px;position:relative;top:255px;background-color:var(--bright-blue);float:right;}
 /* end of stlyle dialog upload file */

 /* end style page data root */

 /* Style Tab Danh Sach Quyen */
 #popup_slider_list_permission .popup-slider-small{max-width: 1210px;}
 #popup_slider_list_permission .popup-slider-small-body{height: calc(100vh - 130px);margin-top: 15px;}
 #popup_slider_list_permission .popup-slider-small .popup-slider-small-search .search-list-permission{max-width:212px;max-height:30px;background-color: var(--pale-grey-two);border: solid 1px var(--light-blue-grey);display: inline; }
 #popup_slider_list_permission .popup-slider-small .popup-slider-small-search a.ic-search-list-permission{display: inline;padding: 5px;margin-right: 45px;margin-left: 5px;}
 #popup_slider_list_permission .popup-slider-small .popup-slider-small-search .search-list-permission:focus{background-color: var(--white-three);}
 .list-permission ul{list-style: none;padding: 0;color: var(--charcoal-grey);font-size: 13px;}
 .list-permission ul li:first-child{border-top: solid 1px var(--light-blue-grey);}
 .list-permission ul li span.title-item-list-permission{cursor: pointer;}
 .list-permission ul li span.title-item-list-permission.active{color: var(--azure);font-weight: 600;}
 .list-permission ul li{padding: 15px;border-bottom: solid 1px var(--light-blue-grey);}
 .list-permission ul li:hover{background-color:var(--pale-grey-five);}
 .list-permission span.item {float: right;}
 .list-permission span.item a{font-size: 16px;margin: 8px;}
 .list-permission span.item a:hover::before{color: var(--azure);}
 /* End of Style Tab Danh Sach Quyen */

 /* Style Dialog Cap Nhat Phan Quyen */
 #update_permission .qb-dialog-body{height:458px; }
 .update-permision input.input-keyword{border: solid 1px var(--light-blue-grey);max-width: 335px;font-size: 17px;color: var(--black);}
 .update-permision label{font-size: 14px;font-weight: 600;color: var(--slate);}
 .update-permision .title-body{font-size:18px;letter-spacing:-0.5px;text-align:left;color:var(--slate);padding:5px 0 41px 0;}
 .update-permision textarea{width:100%;height:119px;border-radius:3px;border:solid 1px var(--light-blue-grey);resize:none;outline:none;font-size: 13px;color: var(--black);}
 /* End of Style Dialog Cap Nhat Phan Quyen */

 /* Style Tab Danh Sach Chuc Nang */
 .list-function ul{list-style:none;font-size:13px;padding: 0;}
 .list-function ul li{border-radius:3px;background-color:var(--white-three);border:solid 1px var(--light-blue-grey);padding:21px;border-bottom: none;cursor: pointer;}
 .list-function ul li:last-child{border-bottom:solid 1px var(--light-blue-grey);}
 .list-function ul li:hover{background-color:var(--pale-grey); }
 .list-function ul li .item-lf a.ic-list{font-size: 16px;margin-top: 1px;}
 .list-function ul li span.title-lf.active {color:var(--azure);font-weight: 600;}
 .list-function ul li span.title-lf.active a:before{color:var(--azure);}
 .list-function ul li .item-lf{float:right;}
 .list-function ul li .item-lf button{width:96px;height:22px;border-radius:3px;background-color:var(--pale-grey-two);border:solid 1px var(--light-blue-grey);font-size:12px;position: relative;bottom: 1px;}
 .list-function ul li .item-lf button:hover{background-color: var(--seafoam-blue);outline:none;border-color:var(--seafoam-blue);}
 .list-function ul li .item-lf button.active-btn{background-color: var(--seafoam-blue);border-color:var(--seafoam-blue);}
 .list-function ul li .item-lf button i{color:var(--slate);padding:3px;float:left;}
 .list-function ul li .item-lf button span{color:var(--slate);letter-spacing:-0.3px;text-align:left;padding-left:4px;}
 .list-function ul li .item-lf a{font-size:10px;padding-left:25px;cursor:pointer;}
 .list-function ul li .item-lf a:before{color: var(--charcoal-grey);}
 /* End of Style Tab Danh Sach Chuc Nang */

 /* Style Tab Quyen Ca Nhan */
 .personal-permission ul{list-style: none;padding: 0;margin: 0;}
 .personal-permission{padding: 0 15px 0 15px;font-size: 13px;}
 .personal-permission-top ul.list-char-sort{margin: 5px 0 0 0;}
 .personal-permission-top ul.list-char-sort li{display: inline-block;font-weight: 600;margin-right: 10px;}
 .personal-permission-top ul.list-char-sort li a{color: var(--purpley-grey);}
 .personal-permission-top ul.list-char-sort li a:hover{color: #009bf6; }
 .personal-permission-top input.search-list-name{max-width: 212px;max-height: 30px;border-radius: 3px;background-color:var(--pale-grey-two);border: solid 1px var(--light-blue-grey);font-size: 13px;display: inline;}
 .personal-permission-top input.search-list-name:focus{background-color:var(--white-three); }
 .personal-permission-top span.ic-search-list-name{margin: 0 7px 0 20px;padding: 7px;font-size: 16px;}
 .personal-permission-content{margin-top: 21px; }
 .personal-permission-content ul.list-name li:first-child{border-top:solid 1px var(--light-blue-grey);}
 .personal-permission-content ul.list-name li{padding: 15px;border-bottom:solid 1px var(--light-blue-grey); cursor: pointer;}
 .personal-permission-content ul.list-name li:hover{background-color: var(--pale-grey);}
 .personal-permission-content ul.list-name li.active{color:var(--azure);font-weight: 600;}
 @media(max-width:768px){.personal-permission-top input.search-list-name{max-width: 205px;}}
 /* End of Style Tab Quyen Ca Nhan */

 /* Style Tab Login */
 #content_login table tr td input.switch_cb{margin-top: 4px;}
 .content-page-login{font-size:13px;}
 .content-page-login ul{list-style:none;padding-left:2px;margin-bottom: 5px; }
 .content-page-login ul li{display:inline-block;padding-right:16px;margin: 0;padding-top: 6px;}
 .content-page-login ul li a{font-weight:600;color:#9b9b9b;}
 .content-page-login ul li a:hover{color:var(--bright-blue);}
 .content-page-login input.input-search{width:212px;height:30px;font-size:13px;background-color:var(--pale-grey-two);border:solid 1px var(--light-blue-grey);}
 .content-page-login input.input-search:focus{background-color: var(--white-three);}
 .content-page-login a.btn-search{font-size: 14px;padding: 5px 12px 4px 20px; position: relative;top: 3px;}
 .content-page-login table tr.header-table{min-height:50px;}
 #content_login table{margin-top: 8px;}
 @media (max-width:991px){.table-responsive{display: table!important;}}
 @media (min-width:992px){ .content-login table tr th.fixed-col{width:10%;}  }
 @media (min-width:768px){ .content-login table tr th.fixed-col{width:20%;}  }
 @media (max-width:768px){ .content-page-login input.input-search{ width: 83%;}}
 /* End of Style Tab Login */
 /* End of Style Page Quan Tri He Thong */

 /* Style Tab Phan Quyen */
 .content-permission .btn-group-permission{width:106px;height:22px;border-radius:3px;background-color:var(--pale-grey-two);text-align:left;border:solid 1px var(--light-blue-grey);font-size:12px;margin-bottom:5px;color:var(--slate);}
 .content-permission .btn-group-permission .ic-add{padding: 0 5px 0 2px;}
 .content-permission .btn-group-permission:hover{ background-color: var(--seafoam-blue);border:solid 1px var(--seafoam-blue); }
 .content-permission span.ic-delete-permission, span.ic-edit-permission, span.ic-add-user{margin:4px 0 0 15px;font-size: 16px;}
 .content-permission span.ic-delete-permission:hover:before, span.ic-edit-permission:hover:before, span.ic-add-user:hover:before{color: var(--azure);}
 .content-permission span.faci-arrow-lineD::before{  font-size: 8px;  margin-right: 5px;  }
 .content-permission span.faci-arrow-right{font-size: 8px;position: relative;  left: 31px;  top: 7px;}
 .content-permission span.faci-arrow-right:before{color: #0b2e13;}
 .content-permission a{font-size:13px;color:var(--slate);}
 .content-permission a:hover{text-decoration:none;color:var(--slate);}
 .content-permission a.active >span.ic-add-user:before{color: var(--azure); font-weight: 600;}
 .content-permission ul{list-style:none;font-size:13px;color:var(--slate);}
 .content-permission ul li{padding: 15px 15px 15px 5px;border-bottom:solid 1px var(--light-blue-grey);cursor: pointer;}
 .content-permission ul li:last-child{border-bottom: none;}
 .content-permission ul li.active{color: var(--azure);font-weight: 600;}
 .content-permission ul li:hover{color: var(--azure);}
 .content-permission ul li:hover span.faci-arrow-right::before{color: var(--azure);}
 .content-permission .title-collapse.active{ color: var(--azure)!important;font-weight: 600; }
 .content-permission .card{margin-bottom:5px;border: solid 1px var(--light-blue-grey);}
 .content-permission .card-body{ padding: 0 40px 0 0; }
 .content-permission .card .card-header{background-color:var(--white-three);padding-bottom: 16px;border-bottom: none;}
 .content-permission .card .card-header:hover{background-color:var(--pale-grey); }
 .content-permission .card .card-header.rm-border-bottom{border-bottom: none;}
 /* End of Style Tab Phan Quyen */

 /* Style Slide Content Right */
 #popup_slide_group_person .popup-slider-small-body{height: calc(100vh - 180px);}
 #popup_slide_group_person .popup-slider-small .popup-slider-small-top{margin-bottom: 20px;}
 #popup_slide_group_person .popup-slider-small .popup-slider-small-top span.ic-add-user{font-size: 30px;position: relative;bottom: 8px;right: 15px;}
 #popup_slide_group_person .popup-slider-small .popup-slider-small-top span.ic-add-user:before{color: var(--azure); }
 .slide-group-person .slide-group-person-top .slide-group-person-title{font-size:18px;font-weight:600;margin-left:10px;margin-top:7px;color:var(--azure);}
 #popup_slide_group_person .popup-slider-small-search{margin-bottom:17px;float: right;padding-right: 40px;}
 #popup_slide_group_person .popup-slider-small-search input.input-search{width:212px;height:30px;border-radius:3px;font-size:13px;background-color:var(--pale-grey-two);border:solid 1px var(--light-blue-grey);margin-right: 10px;}
 #popup_slide_group_person .popup-slider-small-search input.input-search:focus{background-color: var(--white-three);}
 #popup_slide_group_person .popup-slider-small-search a:hover{text-decoration:none;}
 .slide-group-person .slide-group-person-content ul{padding-left:0;list-style:none;}
 .slide-group-person .slide-group-person-content ul li{padding:15px;border-top:solid 1px var(--light-blue-grey); font-size: 13px;}
 .slide-group-person .slide-group-person-content ul li:hover{background-color: var(--pale-grey);}
 /* End of Style Slide Content Right */

 /* Style Slide Permission */
 #popup_slider_permission .popup-slider-small{max-width: 672px;}
 #popup_slider_permission .popup-slider-small-body{height: calc(100vh - 145px);}
 .slide-permission-content .custom-checkbox{position: relative;bottom: 3px;}
 .slide-permission-content ul{padding-left:0;list-style:none;}
 .slide-permission-content ul li{padding:15px 0 15px 15px;font-size:13px;color:#4a4a4a;border-top:solid 1px var(--light-blue-grey);}
 .slide-permission-content ul li:first-child{border-top: none;}
 .slide-permission-content ul li:hover{background-color:var(--pale-grey);}
 /* End of Style Slide Permission */

 /* Style Popup Slide Danh Sach Quyen Ca Nhan */
 #popup_slide_list_person_permission .popup-slider-small{max-width: 1205px;}
 .slide-list-person-permission .list-person-permission-content ul{list-style: none;padding: 0;}
 .slide-list-person-permission .list-person-permission-content ul li{padding: 15px;font-size: 13px;color: var(--charcoal-grey);border-bottom: solid 1px var(--light-blue-grey);cursor: pointer;}
 .slide-list-person-permission .list-person-permission-content ul li:hover{background-color:var(--pale-grey);}
 .slide-list-person-permission .list-person-permission-content ul li.active{color: var(--azure);font-weight: 600;}
 /* End of Style Popup Slide Danh Sach Quyen Ca Nhan */

 /* Style Popup Slide Chi Tiet Quyen Ca Nhan */
 #popup_slide_detail_person_permission .popup-slider-small .popup-slider-small-body{height: calc(100vh - 140px);}
 .slide-detail-person-permission .detail-person-permission-content ul{list-style: none;padding: 0;height: -webkit-calc(100vh - 160px);}
 .slide-detail-person-permission .detail-person-permission-content ul li:first-child{border-top:solid 1px var(--light-blue-grey); }
 .slide-detail-person-permission .detail-person-permission-content ul li{padding: 15px;font-size: 13px;color: var(--charcoal-grey);border-bottom: solid 1px var(--light-blue-grey);}
 .slide-detail-person-permission .detail-person-permission-content ul li:hover{background-color: var(--pale-grey);}
 .slide-detail-person-permission .detail-person-permission-content ul li label{display: inline;}
 .slide-detail-person-permission .detail-person-permission-content ul li .custom-checkbox{float: right;position: relative;bottom: 3px;margin-right: 0;cursor: pointer;}
 /* End of Popup Slide Chi Tiet Quyen Ca Nhan */
