@import "root.css";
.content-body{font-family:'Open Sans';}
.background-display{background:url(../images/bg.jpg) 0% 40%;width:100%;position:fixed;height:100%; background-size: cover;}
.background-display-1{background:rgba(0, 92, 255, 0.5);width:100%;position:fixed;height:100%;}
.jumbotron{width:352px;height:auto;margin:10% auto;background-color:var(--white-three);padding:0;border-radius:3px;}
.jumbotron .logo{width:160px;margin:45px 0;max-width:100%}
.jumbotron input{width:100%;padding:10px 11px;border-radius:3px;border:solid 1px var(--white);height:39px;}
.jumbotron input:focus{border: solid 1px var(--slate);outline: none;}
.jumbotron .title{font-size:14px;font-weight:bold;float:left;margin-bottom: 8px;}
.forgot{font-size:10px;float:right;opacity:0.48;color:var(--slate);margin-top: 4px;}
.forgot:hover{text-decoration: none;}
.btn_login{background-color:var(--bright-blue);color:var(--white-three);font-size:14px;padding:12px 48px;border-radius:3px;margin:30px;cursor: pointer;}
.form-error{font-size: 13px;}
/* Style Loading */
.faci-loading{background-color: rgba(0,0,0,0.0);position: fixed;width: 100%;height: 100%;z-index: 1;text-align: center;top: 0;left: 0;right: 0;bottom: 0;display: none;}
.faci-loading.open{display: block;}
.img-loading{width: 171px;position: absolute;top:40px;right:91px;}