<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/util.css" rel="stylesheet" type="text/css" />
    <link href="dist/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css" />
    <link href="fonts/facilio-icon/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="fonts/OpenSans/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="css/root.css" rel="stylesheet" type="text/css" />
    <link href="css/dinh-work.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="dist/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="dist/bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js" type="text/javascript"></script>
    <script src="dist/bootstrap-4.0.0-beta/dist/js/bootstrap.min.js" type="text/javascript"></script>

    <nav class="menu-on-top navbar navbar-expand-lg p-0">
        <div class="navbar-header">
            <img class="logo" src="images/facilio-logo.png">
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="factory nav-item">
                    <span class="faci-factory icon-factory"></span>
                    <div class="dropdown list-fa">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NHA MAY VICEM BIM SON (10006)
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">NHA MAY VICEM BIM SON (10006)</a>
                            <a class="dropdown-item" href="#">NHA MAY VICEM BIM SON (10007)</a>
                            <a class="dropdown-item" href="#">NHA MAY VICEM BIM SON (10008)</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown menu-list">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="faci-congviectrongyeu icon" aria-hidden="true"></i>
                        <span>CÔNG VIỆC TRỌNG YẾU</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active">
                            <a href="#">
                                <i class="faci-congviectrongyeu"></i>
                                CÔNG VIỆC TRỌNG YẾU
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-baotridinhky"></i>
                                BẢO TRÌ ĐỊNH KỲ(PM)
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-baotriboitron"></i>
                                BẢO TRÌ BÔI TRƠN(BT)
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-baotrisuachua"></i>
                                BẢO TRÌ SỬA CHỮA(CM)
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-vattuthaythe"></i>
                                VẬT TƯ THAY THẾ
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-danhmucthietbi"></i>
                                DANH MỤC THIẾT BỊ
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-capnhatdulieu"></i>
                                CẬP NHẬT DỮ LIỆU
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-quantrihethong"></i>
                                QUẢN TRỊ HỆ THỐNG
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="faci-timkiem"></i>
                                TÌM KIẾM
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="search nav-item">
                    <a>
                        <span class="faci-search">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </span>
                    </a>
                </li>
                <li class="eyes nav-item">
                    <a>
                        <span class="faci-eye"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="icon-la">
                    <span class="faci-globe"></span>
                </li>
                <li class="language">
                    <div class="dropdown list-la">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            English
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">Vietnamese</a>
                            <a class="dropdown-item" href="#">German</a>
                        </div>
                    </div>
                </li>
                <li class="icon-user">
                    <span class="faci-userLOGIN">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </span>
                </li>
                <li class="user">
                    <a>NMBS_FACIADMIN</a>
                </li>
                <li class="logout">
                    <a>
                        <span class="faci-logout"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="materials-page">
        <div class="material-navigation">
            <div class="material-navigation-left">
                <button class="btn btn-material-type active">
                    Vật tư yêu cầu
                </button>
                <button class="btn btn-material-type">
                    Vật tư bôi trơn
                </button>
                <button class="btn btn-material-type">
                    Chi phí vật tư
                </button>
            </div>
            <div class="material-navigation-right">
                <div class="dropdown btn-navigation-right">
                    <button class="btn btn-navigation-sort" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="title">Tất cả</span>
                        <span class="faci-arrow-down"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="#">Tất cả</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Vật tư yêu cầu</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Vật tư bôi trơn</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Chi phí vật tư</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-status btn-navigation-right">
                    <span class="faci-historical-report"></span>
                    <a href="#">Phiếu yêu cầu</a>
                </div>
                <div class="btn-status btn-navigation-right">
                    <span class="faci-update"></span>
                    <a href="#">Cập nhật dữ liệu</a>
                </div>
                <div class="btn-status btn-navigation-right">
                    <span class="faci-storage"></span>
                    <a href="#">Kiểm tra tồn kho</a>
                </div>
            </div>
        </div>
        <table class="table qb-table">
            <thead>
                <tr>
                    <th>
                        <span>&nbsp;</span>
                    </th>
                    <th>
                        <span>&nbsp;</span>
                    </th>
                    <th>
                        <span>Phiếu yêu cầu</span>
                    </th>
                    <th>
                        <span>Người lập phiếu</span>
                    </th>
                    <th>
                        <span>Người nhận</span>
                    </th>
                    <th>
                        <span>Mục đích</span>
                    </th>
                    <th>
                        <span>Phòng ban nhận</span>
                    </th>
                    <th>
                        <span>Ngày yêu cầu</span>
                    </th>
                    <th>
                        <span>Ngày cần vật tư</span>
                    </th>
                    <th>
                        <span>Phiếu yêu cầu ABS</span>
                    </th>
                    <th>
                        <span>Trạng thái</span>
                    </th>
                    <th>
                        <span style="border:none;">Ghi chú</span>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <div class="menu-control-record">
                            <span class="edit-menu faci-edit"></span>
                            <span class="delete-menu faci-delete"></span>
                        </div>
                    </td>
                    <td>
                       <div class="material-check">
                           <!--  <div class="round-checkbox">
                                <input type="checkbox" id="checkbox" />
                                <label for="checkbox"></label>
                            </div> -->
                            <label class="faci-check"></label>
                            <button class="btn-material-view">
                                <span class="faci-add"></span>
                                Vật tư
                            </button>
                       </div>
                    </td>
                    <td class="request-context">NMBP-000184</td>
                    <td>Lưu Toàn Định</td>
                    <td>Lưu Toàn Định</td>
                    <td>Xuất kho</td>
                    <td>Noi dung</td>
                    <td>19/10/2017</td>
                    <td>25/10/2017</td>
                    <td class="important-content">YCX11-207/1017-4</td>
                    <td class="important-content">IN PROCESS</td>
                    <td>It uses a dictionary ofve 200 Latin </td>
                </tr>

                <tr>
                    <td>
                        <div class="menu-control-record">
                            <span class="edit-menu faci-edit"></span>
                            <span class="delete-menu faci-delete"></span>
                        </div>
                    </td>
                    <td>
                       <div class="material-check">
                           <!--  <div class="round-checkbox">
                                <input type="checkbox" id="checkbox" />
                                <label for="checkbox"></label>
                            </div> -->
                            <label class="faci-check"></label>
                            <button class="btn-material-view">
                                <span class="faci-add"></span>
                                Vật tư
                            </button>
                       </div>
                    </td>
                    <td class="request-context">NMBP-000184</td>
                    <td>Lưu Toàn Định</td>
                    <td>Lưu Toàn Định</td>
                    <td>Xuất kho</td>
                    <td>Noi dung</td>
                    <td>19/10/2017</td>
                    <td>25/10/2017</td>
                    <td class="important-content">YCX11-207/1017-4</td>
                    <td class="important-content">INCOMPLETE</td>
                    <td>It uses a dictionary ofve 200 Latin </td>
                </tr>
                
                <tr>
                    <td>
                        <div class="menu-control-record">
                            <span class="edit-menu faci-edit"></span>
                            <span class="delete-menu faci-delete"></span>
                        </div>
                    </td>
                    <td>
                       <div class="material-check">
                           <!--  <div class="round-checkbox">
                                <input type="checkbox" id="checkbox" />
                                <label for="checkbox"></label>
                            </div> -->
                            <label class="faci-check"></label>
                            <button class="btn-material-view">
                                <span class="faci-add"></span>
                                Vật tư
                            </button>
                       </div>
                    </td>
                    <td class="request-context">NMBP-000184</td>
                    <td>Lưu Toàn Định</td>
                    <td>Lưu Toàn Định</td>
                    <td>Xuất kho</td>
                    <td>Noi dung</td>
                    <td>19/10/2017</td>
                    <td>25/10/2017</td>
                    <td class="important-content">YCX11-207/1017-4</td>
                    <td class="important-content">INCOMPLETE</td>
                    <td>It uses a dictionary ofve 200 Latin </td>
                </tr>

                <tr>
                    <td>
                        <div class="menu-control-record">
                            <span class="edit-menu faci-edit"></span>
                            <span class="delete-menu faci-delete"></span>
                        </div>
                    </td>
                    <td>
                       <div class="material-check">
                           <!--  <div class="round-checkbox">
                                <input type="checkbox" id="checkbox" />
                                <label for="checkbox"></label>
                            </div> -->
                            <label class="faci-check"></label>
                            <button class="btn-material-view">
                                <span class="faci-add"></span>
                                Vật tư
                            </button>
                       </div>
                    </td>
                    <td class="request-context">NMBP-000184</td>
                    <td>Lưu Toàn Định</td>
                    <td>Lưu Toàn Định</td>
                    <td>Xuất kho</td>
                    <td>Noi dung</td>
                    <td>19/10/2017</td>
                    <td>25/10/2017</td>
                    <td class="important-content">YCX11-207/1017-4</td>
                    <td class="important-content">INCOMPLETE</td>
                    <td>It uses a dictionary ofve 200 Latin </td>
                </tr>

                <tr>
                    <td>
                        <div class="menu-control-record">
                            <span class="edit-menu faci-edit"></span>
                            <span class="delete-menu faci-delete"></span>
                        </div>
                    </td>
                    <td>
                       <div class="material-check">
                           <!--  <div class="round-checkbox">
                                <input type="checkbox" id="checkbox" />
                                <label for="checkbox"></label>
                            </div> -->
                            <label class="faci-check"></label>
                            <button class="btn-material-view">
                                <span class="faci-add"></span>
                                Vật tư
                            </button>
                       </div>
                    </td>
                    <td class="request-context">NMBP-000184</td>
                    <td>Lưu Toàn Định</td>
                    <td>Lưu Toàn Định</td>
                    <td>Xuất kho</td>
                    <td>Noi dung</td>
                    <td>19/10/2017</td>
                    <td>25/10/2017</td>
                    <td class="important-content">YCX11-207/1017-4</td>
                    <td class="important-content">INCOMPLETE</td>
                    <td>It uses a dictionary ofve 200 Latin </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="requirement-view">
        <div class="requirement-form">
            <div class="requirement-title">
                <div class="requirement-icon-box">
                    <span class="faci-votes"></span>
                    <p>Phiếu yêu cầu</p>
                </div>
                <span class="faci-close"></span>
            </div>
            <div class="requirement-content">
                <div class="box-requirement-one row">
                    <div class="requirement-type col-6">
                        <p>Loại yêu cầu (*)</p>
                        <input type="text"/>
                    </div>
                    <div class="requirement-date col-6">
                        <p>Ngày yêu cầu (*)</p>
                        <div class="facilio-date-box">
                            <i class="faci-calendar facilio-calendar-icon"></i>
                            <input type="text" class="facilio-calender-content" value="1/9/2017">
                            <i id="icon-down" class="faci-arrow-down facilio-calender-arrow"></i>
                        </div>
                    </div>
                </div>
                <div class="box-requirement-one row">
                        <div class="requirement-type group-receiver col-6">
                            <p>Người nhận(*)</p>
                            <input type="text"/>
                        </div>
                        <div class="requirement-date group-meterial col-6">
                            <p>Ngày cần vật tư (*)</p>
                            <div class="facilio-date-box">
                                <i class="faci-calendar facilio-calendar-icon"></i>
                                <input type="text" class="facilio-calender-content" value="1/9/2017">
                                <i id="icon-down" class="faci-arrow-down facilio-calender-arrow"></i>
                            </div>
                        </div>
                </div>
                <div class="box-requirement-note row">
                    <p>Ghi chú</p>
                    <textarea class="col-12"></textarea>
                </div>
                <div class="box-requirement-button row">
                    <button class="btn-close">Đóng</button>
                    <button class="btn-save">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>