<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <!----ADD FONTS--->
        <link href="fonts/OpenSans/stylesheet.css" rel="stylesheet" type="text/css"/>
        <link href="fonts/facilio-icon/stylesheet.css" rel="stylesheet" type="text/css"/>
        <!----ADD BOOTSTRAP--->
        <link href="dist/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!----ADD LIBS DATE TIME PICKER--->
        <link href="dist/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
        <!----ADD LIBS DATE RANGE PICKER--->
        <link href="dist/bootstrap-daterangepicker-master/daterangepicker.css" rel="stylesheet" type="text/css"/>
        <!----ADD LIBS JQUERY UI--->
        <link href="dist/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <!----ADD CUSTOM FILE CSS--->
        <link href="css/man-ultil.css" rel="stylesheet" type="text/css"/>
        <!-- LINH CSS STYLE -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="dist/seekbar/css/seekbar.css">

        <title>Công việc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="content-body">
